extra_stuff
**/decisions/debug.txt
**/common/societies/red_crystal.txt
NEOW/CK2Tools-v20/char_creator.bat
NEOW/CK2Tools-v20/CK2Tools.jar
NEOW/CK2Tools-v20/colors.bat
NEOW/CK2Tools-v20/colors.bmp.txt
NEOW/CK2Tools-v20/config.properties
NEOW/CK2Tools-v20/default_flag.tga
NEOW/CK2Tools-v20/languages.properties
NEOW/CK2Tools-v20/mapfiller.bat
NEOW/CK2Tools-v20/Nowy folder/CK2Tools.jar
NEOW/CK2Tools-v20/reverse_mapfiller.bat
NEOW/map/provinceDef.xls
*.bak
